<h1><%= @dish.name %></h1>

<div class="status"></div>

<div class="comments">
  <% @dish.comments.each do |comment| %>
  <article>
    <p><%= comment.body %></p>
    <hr>
  </article>
  <% end %>
</div>

<form action="/comments" method="post">
  <label for="comment">New Comment</label>
  <textarea name=""></textarea>
  <button id="new-comment-btn">Post</button>
</form>

<script type="text/javascript">
  $('#new-comment-btn').on('click', function(event)
  {
    // $('.status').text('posting comment...')
    event.preventDefault();

    var options = {
      url: '/api/comments',
      method: 'post',
      data: {
        dish_id: <%= @dish.id %>,
        body: $('textarea').val()
      }
    }

    var appendComment = function(response)
    {
    // $('.status').text('');
      var $article = $('<article>');
      var $p = $('<p>').text(response.body);
      var $hr = $('<hr>');

      $article.append($p);
      $article.append($hr);
      // $article.hide(2000);

      $('.comments').append($article);
      // $('.article').fadeIn(2000);
    }

    $.ajax(options).done(appendComment);
  });
</script>
