<form action="/tips/<%= @tip.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="put">
  <label for="title">Title</label>
  <input type="text" name="title" value="<%= @tip.title %>">
  <label for="content">Content</label>
  <textarea name="content"><%= @tip.content %></textarea>
  <button type="submit">Edit</button>
</form>
