<h1>GoodFoodHunting Featured Dishes</h1>

<% @dishes.each do |dish| %>
   <article class="dish">
      <h2><a href="/dishes/<%= dish.id %>"><%= dish.name %></a>
      </h2>
      <img src="<%= dish.image_url %>" alt="<%= dish.name %>">
   </article>
<% end %>
