<form action="/dishes" method="post">
   <input type="text" name="name" placeholder="Dish Name">
   <textarea name="image_url" placeholder="Enter Image URL"></textarea>
   <button type="submit">Create</button>
</form>
