h1
{
   color: tomato;
   font-size: 100px;
   background: mistyrose;
}

#title2
{
   color: purple
}

.warning
{
   text-decoration: underline;
}

article > h1
{
   color: blue;
}

article h1.cats
{
   color: lime;
}
